{% extends "base.html" %}

{% block head %}
<title>About &mdash; Alistair Robinson</title>
<meta name="description" content="About Alistair Robinson: writer, developer, and administrator of The Philosophy Forum.">
{% endblock %}

{% block content %}
<article class="postArticle innerContainer">
  <h1 class="heading2Xl">About</h1>
  <p>This is a website for various articles of mine, mostly about books and ideas: long-form philosophical essays, literary criticism, and other kinds of analytical writing.</p>
  <p>When I&#8217;m not writing these articles I run <a href="https://www.thephilosophyforum.com" target="_blank">The Philosophy Forum</a>, an online community that I started in 2015. Since then, TPF has grown into a popular website for long-form philosophical discussion. I still take an active role there, moderating discussions, organizing reading groups, and keeping things running behind the scenes.</p>
  <p>I'm also a software developer and have spent many years building web applications. I co-founded and built <a href="https://www.commissioncrowd.com/" target="_blank">CommissionCrowd</a>.</p>
  <p>You can reach me at <b>alistair.robinson@gmail.com</b>.</p>
  <p>
    <img src="{{ image_cdn }}/tr:w-800,q-84/IMG-20240623-WA0000~2.jpg"
         alt="Alistair Robinson wearing a green cap"
         style="width: auto; height: auto; max-width: 70%">
  </p>
</article>
{% endblock %}
