{% extends "base.html" %}

{% block head %}
<title>{{ site_title }}</title>
<meta name="description" content="Long-form essays on literature, science fiction, and philosophy by Alistair Robinson.">
{% endblock %}

{% block content %}
<section class="articleList">
  <ul class="list">
    {% for post in posts %}{% if post.show %}
    <li class="listItem">
      <a class="articleTitle" href="/{{ post.slug }}">{{ post.frontmatter.title }}</a><br>
      <small class="homeDate lightText">
        <time datetime="{{ post.frontmatter.date }}">{{ post.frontmatter.date | date }}</time>
        <span>
          {% for tag in post.frontmatter.tags %}<a href="/tags/{{ tag }}">{{ tag }}</a>&nbsp;{% if not loop.last %}/{% endif %}{% endfor %}
        </span>
      </small>
    </li>
    {% endif %}{% endfor %}
  </ul>
</section>
{% endblock %}
