{% extends "base.html" %}

{% block head %}
<title>{{ frontmatter.title }}</title>
<link rel="canonical" href="{{ site_url }}/{{ slug }}">
<meta name="description" content="{{ frontmatter.description }}">
<meta property="og:title"       content="{{ frontmatter.title }}">
<meta property="og:image"       content="{{ og_image }}">
<meta property="og:url"         content="{{ site_url }}/{{ slug }}">
<meta property="og:type"        content="website">
<meta property="og:description" content="{{ frontmatter.description }}">
<meta name="twitter:image"      content="{{ og_image }}">
{% endblock %}

{% block content %}
<article class="postArticle innerContainer">
  {{ page_html }}

  {% include "subscribe.html" %}
</article>
{% endblock %}
