{% extends "base.html" %}

{% block head %}
<title>Philosophy archive &mdash; {{ site_title }}</title>
<meta name="description" content="An archive of early philosophy blog posts and notes from the 2010s by Alistair Robinson.">
{% endblock %}

{% block content %}
<div style="margin-bottom: 65px">
  <p style="width: 80%">
    A selection of blog posts and notes from the early to mid 2010s, when I was teaching myself philosophy.
    My notes on Kant&#39;s <em>Critique of Pure Reason</em> are archived separately:
    <a href="/notes-on-kant">Notes on Kant</a>
  </p>
</div>
<section class="articleList">
  <ul class="list">
    {% for post in posts %}{% if post.show %}
    <li class="listItem">
      <a class="articleTitle" href="/philosophy-archive/{{ post.slug }}">{{ post.frontmatter.title }}</a><br>
      <small class="homeDate lightText">
        <time datetime="{{ post.frontmatter.date }}">{{ post.frontmatter.date | date }}</time>
        <span>
          {% for tag in post.frontmatter.tags %}&nbsp;<a href="/tags/{{ tag }}">{{ tag }}</a>&nbsp;{% if not loop.last %}/{% endif %}{% endfor %}
        </span>
      </small>
    </li>
    {% endif %}{% endfor %}
  </ul>
</section>
{% endblock %}
