{% extends "base.html" %}

{% block head %}
<title>{{ frontmatter.title }}</title>
{% endblock %}

{% block content %}
<article class="postArticle innerContainer">
  <h1 class="heading2Xl">{{ frontmatter.title }}</h1>
  <div class="byline"><a href="/about">{{ author }}</a>, <time datetime="{{ frontmatter.date }}">{{ frontmatter.date | date }}</time></div>

  {% if frontmatter.image %}
  <img src="{{ image_cdn }}/tr:w-{{ header_image.width }},q-{{ header_image.quality }}/{{ slug }}.jpg?v={{ frontmatter.imageVersion or 1 }}"
       alt="{{ frontmatter.imageAlt or frontmatter.title }}"
       class="{{ frontmatter.imageClass or 'mainImageSmaller' }}">
  {% endif %}

  {{ post_html }}

  <footer class="postFooter">
    <hr>
    <div class="footSection">
      <div class="labelColumn">Tags</div>
      <div class="contentColumn">
        {% for tag in frontmatter.tags %}<a style="margin-right: 1.2rem" href="/tags/{{ tag }}">{{ tag }}</a>{% endfor %}
      </div>
    </div>
    <hr>
    <div class="footSection">
      <div class="labelColumn">Date</div>
      <div class="contentColumn">
        <time datetime="{{ frontmatter.date }}">{{ frontmatter.date | date }}</time>
      </div>
    </div>
    <hr>
  </footer>
</article>
{% endblock %}
