html,
body {
    background: #efefef;
    color: #222;
  padding: 0;
  margin: 0;
  /*font-family: 'Times New Roman', Times, serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,'helvetica neue',helvetica,ubuntu,roboto,noto,'segoe ui',arial,sans-serif;*/
  line-height: 1.62;
  font-size: 21px;
}
@media (max-width: 600px) {
    body {
        font-size: 17px;
    }
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

img {
  max-width: 100%;
  display: block;
}

.lightText {
    color: #777;
}

.lightText span {
    margin-left: 0.76rem;
    font-size: 0.7rem;
}

@media (min-width: 800px) {
  .lightText span {
    margin-left: 0.76rem;
    font-size: 0.8rem;
  }
}

.lightLink {
    color: #777;
    /*margin-right: 1rem;*/
    margin: 0 0.35rem;
}

.redLink {
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-color: #bbb;
    color: #777;
}
.redLink:hover {
  color: #666;
  text-decoration-color: #777;
}

/* Markdown post extras, can't be in a css module */
img[title="imgSmall"] {
    max-width: 80%;
}

sup {
    font-size: small;
}