.main {
    position: relative;
    z-index: 1000;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}

.container {
    max-width: 49rem;
    padding: 0 1rem;
    margin: 4rem auto 6rem;
  }

  @media (max-width: 600px) {
    .container {
        max-width: 100%;
        flex-direction: column;
    }
  }


/*.logoContainer{}*/

/*.logoImage {
    border-radius: 50%;
    width: 45%;
    position: fixed;
    right: -100px;
    bottom: -100px;
    opacity: 0.07;
    transform: scaleX(-1);
}*/

.header {
    background: var(--bg);
    display: flex;
    text-align: left;
    margin-top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    justify-content: right;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0 4px;
    font-size: 0.78rem;
}

@media (min-width: 800px) {
  .header {
    font-size: 0.83rem;
  }
}

.namelink {
    position: absolute;
    left: 20px;
}

.boldLink {
    font-weight: bold;
}

.homeDate {
    font-size: 0.82rem;
}

@media (min-width: 800px) {
  .homeDate {
    font-size: 1rem;
  }
}

/*
.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0rem;
    right: 0;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 20px;
    padding: 0.3rem 1rem;
    width: 9%;
    margin-top: 3.8rem;
    display: grid;
    text-align: right;
  }
  @media (max-width: 1200px) {
    .header {
        right: 2.4rem;
    }
  }
  @media (max-width: 1800px) {
    .header {
        background: #fffdf8;
        display: block;
        text-align: left;
        margin-top: 0;
        left: 0;
        width: 100%;
    }
  }
  */

  .header a {
    /*color: #666;*/
    color: #888;
    margin-right: 1rem;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  .articleList {
    margin-top: 1rem;
    font-size: 24px;
}

.innerContainer {
    /*width: 81%;*/
    width: 72%;
    max-width: 800px;
}
@media (max-width: 1000px) {
  .innerContainer {
      width: 84%;
      flex-direction: column;
  }
}
@media (max-width: 700px) {
  .innerContainer {
      width: 98%;
      flex-direction: column;
  }
}

.heading2Xl {
    font-size: 2rem;
    line-height: 1.2;
    margin: 1rem 0;
  }

  .headingXl {
    font-size: 1.8rem;
    line-height: 1.3;
    margin: 1rem 0;
  }

  .headingLg {
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  .headingMd {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .borderCircle {
    border-radius: 9999px;
  }

  .colorInherit {
    color: inherit;
  }

  .padding1px {
    padding-top: 1px;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .listItem {
    margin: 0 0 1.45rem !important;
    line-height: 1.2;
  }

  .articleTitle {
    font-weight: bold;
  }
  @media (min-width: 800px) {
    .articleTitle {
      font-weight: bold;
      font-size: 1.6rem;
    }  
  }

  a.articleTitle {
    text-decoration-thickness: 2px;
  }

.photoContainer {
    width: 20%;
}