.postArticle {
    margin-bottom: 220px;
}

.postArticle p {
    margin: 1.7rem 0;
}

.postArticle img {
    margin: 1.7rem 0 0.46rem;
}


.postArticle h2 {
    margin-block-start: 1.7em;
    /*font-family: '__Roboto_ba9cb9', '__Roboto_Fallback_ba9cb9';*/
    font-family: '__Barlow_Semi_Condensed_5a1dc4', '__Barlow_Semi_Condensed_Fallback_5a1dc4';
    font-size: 1.7rem;
    line-height: 1.92rem;    
}

.postArticle h3 {
    /* font-family: '__Roboto_ba9cb9', '__Roboto_Fallback_ba9cb9'; */
    /*font-family: '__Roboto_Condensed_449a7d', '__Roboto_Condensed_Fallback_449a7d';*/
    font-family: '__Barlow_Semi_Condensed_5a1dc4', '__Barlow_Semi_Condensed_Fallback_5a1dc4';
    font-size: 1.5rem;
    line-height: 1.7rem;    
    margin-block-start: 1.7em;
}

.mainImageSmall, .mainImageMedium, .mainImageSmaller, .mainImage {
    padding-bottom: 0.86rem;
}

.mainImageSmall {
    max-width: 60%;
}

.mainImageSmallest {
    max-width: 40%;
}

.mainImageSmaller {
    max-width: 85%;
}

.mainImageMedium {
    max-width: 75%;
}

.postArticle img + em {
    font-style: normal;
    font-size: 16px;
    color: #666;
    padding-left: 0;
}

.postArticle blockquote {
    color: #333;
    background: #e6e6e6;
    margin: 0 2rem 0 0;
    padding: 0.3rem 2.5rem 0.3rem 3.2rem;
    border-left: solid 6px #c6c6c6;
    position: relative;
}

.postArticle blockquote::before{
    font-family: "Source_Serif_4";
    content: "\201C";
    color: #bbb;
    font-size: 4em;
    position: absolute;
    left: 14px;
    top:-10px;
  }

.postArticle ul {
    list-style: circle;
}

.postArticle ul li {
    margin-bottom: 0.6rem;
}

.postFooter {
    font-size: 19px;
    width: 95%;
}

.postFooter hr {
    width: 100%;
    opacity: .2;
    margin: 65px auto -1px;
    border: none;
    border-bottom: 3px double #232323;
    padding-bottom: 1.4em;
    text-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #232323;
}

.footSection {
    display: flex;
    padding: 1rem 0;
}

.footSection p {
    margin: 0.6rem 0 !important;
}

/*.footTags a {
    color: #777;
    margin-right: 1rem;
}*/

/*.labelColumn, .contentColumn {

}*/

.labelColumn {
    width: 25%;
    font-weight: bold;
    color: #777;
}

.contentColumn {
    width: 75%;
}

.footerExcerpt {
    font-size: 16px;
}

.footerExcerpt img {
    width: 30% !important;
    padding-bottom: 0.4rem !important;
    margin: 0.3rem 0.8rem 0 0 !important;
    float: left;
}