.postArticle {
    margin-bottom: 220px;
}

.postArticle p {
    margin: 1.7rem 0;
}

.postArticle code {
    font-family: 'Google Sans Code', monospace;
    background-color: var(--code-bg);
    color: var(--code-fg);
    padding: 0.1rem 0.3rem;
    border-radius: 4px;
    font-size: 0.9rem;
}


.postArticle pre code {
  padding: 0 0 0 0;
}

.postArticle pre {
  background-color: var(--code-bg);
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  overflow-x: scroll;
}


@media (max-width: 600px) {
  .postArticle code {
    font-size: 0.7rem;
  }
  .postArticle pre {
    padding: 0.25rem 0.5rem;
  }
}

.postArticle img {
    margin: 1.7rem 0 0.46rem;
}

.postArticle .byline {
    display: block;
}

.postArticle h2 {
    margin-block-start: 1.7em;
    font-size: 1.7rem;
    line-height: 1.92rem;    
}

.postArticle h3 {
    font-size: 1.5rem;
    line-height: 1.7rem;    
    margin-block-start: 1.7em;
}

.postArticle h4 {
    font-size: 1.2rem;
    line-height: 1.3rem;    
    margin-block-start: 1.9em;
    margin-block-end: -0.3rem;
}

.mainImageSmall, .mainImageMedium, .mainImageSmaller, .mainImage {
    padding-bottom: 0.86rem;
}

.mainImageSmall {
    max-width: 60%;
}

.mainImageSmallest {
    max-width: 40%;
}

.mainImageSmaller {
    max-width: 85%;
}

.mainImageMedium {
    max-width: 75%;
}


.postArticle img + em {
    font-style: normal;
    font-size: 16px;
    color: #666;
    padding-left: 0;
}

.postArticle blockquote {
    color: var(--blockquote-fg);
    background: var(--blockquote-bg);
    margin: 0 2rem 1rem 0;
    padding: 0.3rem 2.5rem 0.3rem 3.2rem;
    border-left: solid 6px var(--blockquote-border);
    position: relative;
}

.postArticle blockquote::before{
    font-family: "Literata";
    content: "\201C";
    color: #bbb;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: 0px;
}

@media (max-width: 600px) {
  .postArticle blockquote {
    margin: 0 0.1rem 1rem 0;
    padding: 0.1rem 1.5rem 0.3rem 1.2rem;
  }
  .postArticle blockquote::before{
    content: "";
  }
}

.postArticle ul {
    list-style: circle;
}

.postArticle ul li {
    margin-bottom: 0.6rem;
}

.postArticle .seriesBox {
    border-bottom: 1px solid var(--blockquote-border);
}

.postArticle .seriesBoxBottom {
    border-bottom: none;
    margin-top: 30px;
}

.postArticle .seriesBox ul {
  padding-left: 0;
  margin-top: 6px;
}

.postArticle .seriesBox li {
    display: inline;
    margin: 0 5px 0 0; 
}

.postArticle .seriesBox li:last-child {
    display: none;
}

.postFooter {
    font-size: 19px;
    width: 95%;
}

.postFooter hr {
    width: 100%;
    opacity: .2;
    margin: 65px auto -1px;
    border: none;
    padding-bottom: 1.4em;
    text-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid var(--hr-colour);
}

.footSection {
    display: flex;
    padding: 1rem 0;
}

.footSection p {
    margin: 0.6rem 0 !important;
}

/*.footTags a {
    color: #777;
    margin-right: 1rem;
}*/

/*.labelColumn, .contentColumn {

}*/

.labelColumn {
    width: 25%;
    font-weight: bold;
    color: #777;
}

.contentColumn {
    width: 75%;
    overflow-wrap: anywhere;
}

.footerExcerpt {
    font-size: 16px;
}

.footerExcerpt img {
    width: 30% !important;
    padding-bottom: 0.4rem !important;
    margin: 0.3rem 0.8rem 0 0 !important;
    float: left;
}

.footSection .moreLink {
    font-size: 0.8rem;
}

.postArticle table {
  width: 96%;
  padding: 5%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid #999;
}

.postArticle table thead {
  text-align: left;
  border:1px dotted #999;
  padding: 10px;
}

.postArticle table thead th {
  border: 1px solid #999;
  padding: 5px 10px;
}

.postArticle table td:first-child{
  border-left:0px solid #999;
}

.postArticle table th:first-child{
  border-right: 1px solid #999;
}

.postArticle table td {
  width: 50%;
  vertical-align: top;
  border: 1px solid #999;
  padding: 5px 10px;
}